{
    "DEBUG": 0,
    "redboxHALClientDLL": "C:\\Program Files\\Redbox\\REDS\\Kiosk Engine\\bin\\Redbox.HAL.Client",
    "redboxIPCFrameworkDLL": "C:\\Program Files\\Redbox\\REDS\\Kiosk Engine\\bin\\Redbox.IPC.Framework",
    "HAL_URL": "rcp://127.0.0.1:7001",
    "HALUtilities": "HalUtilities.exe",
    "productLookupCatalog": "C:\\Program Files\\Redbox\\REDS\\Kiosk Engine\\bin\\Redbox.ProductLookupCatalog",
    "VistaDB": "C:\\Program Files\\Redbox\\REDS\\Kiosk Engine\\bin\\VistaDB.NET20",
    "inventory": "C:\\Program Files\\Redbox\\REDS\\Kiosk Engine\\data\\inventory.data",
    "profile": "Data Source=C:\\Program Files\\Redbox\\REDS\\Kiosk Engine\\data\\profile.data",
    "XML": "inventory.xml"
}